.noticias {
  background-color: #552583;
  height: fit-content;
}

.grid-noticias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.grid-noticias img {
  max-width: 90%;
  border-radius: 15px;
}
.grid-noticias div {
  border-radius: 15px;
  align-items: center;
}
.div1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.div1 p {
  padding-bottom: 20px;
}
.div2 {
  height: fit-content;
}
.div2 img {
}
.div3 {
  height: fit-content;
}
.div3 img {
}
.grid-noticias h3,
.grid-noticias p {
  text-align: center;
  color: #fdb927;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
.grid-noticias h3 {
  font-weight: 900;
}
.grid-noticias p {
  font-weight: 600;
}
