
.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
.parent div{
    background-color: rgba(0, 0, 0, 0.2);
}
.parent div p{
    margin: 0;
    text-align: left;
    font-weight: 800;
}
.home-game{
    padding: 10px;
    background-color: #FDB927 !important;
    color: #f0f8ff;
}
.away-game{
    padding: 10px;
    background-color: #552583 !important;
    color: #f0f8ff;
}
.digit{
    word-spacing: 16px;
}
.digit2{
    word-spacing: 13px;
}
.dia{
    padding: 10px;
}
.div1 {
    grid-column-start: 4;
}

.div2 {
    grid-column-start: 5;
}

.div3 {
    grid-column-start: 6;
}

.div4 {
    grid-column-start: 7;
}

.div5 {
    grid-row-start: 2;
}

.div6 {
    grid-row-start: 2;
}

.div7 {
    grid-row-start: 2;
}

.div8 {
    grid-row-start: 2;
}

.div9 {
    grid-row-start: 2;
}

.div10 {
    grid-row-start: 2;
}

.div11 {
    grid-row-start: 2;
}

.div12 {
    grid-row-start: 3;
}

.div13 {
    grid-row-start: 3;
}

.div14 {
    grid-row-start: 3;
}





.div19 {
    grid-row-start: 4;
}

.div20 {
    grid-row-start: 4;
}

.div21 {
    grid-row-start: 4;
}





.div26 {
    grid-row-start: 5;
}

.div27 {
    grid-row-start: 5;
}

.div28 {
    grid-row-start: 5;
}



        